<!DOCTYPE HTML>
<html class="h-100" xmlns:th="http://www.thymeleaf.org">

<head>
    <title>О нас</title>
    <link rel="stylesheet" href="/static/about_style.css">
</head>

<head th:insert="blocks\head :: head"></head>

<body class="d-flex flex-column h-100" style="background: #c98fc2">

<header th:insert="blocks\header :: header" class="sticky-top" role="navigation"></header>

<hr class="clear">

<main class="container flex-shrink-0 bg-light">
    <div class="row">
        <div class="col-lg-12 mb-5">
            <div class="pt-5 px-5 mx-auto">
                <p class="mt-3" align="justify">
                    &nbsp;&nbsp;&nbsp;&nbsp;Цирковое искусство известно в мире с древних времен. Оно связано с трудовыми
                    процессами, культовыми
                    обрядами во время религиозных празднеств, народными гуляниями — батлейками, обязательными атрибутами
                    которых была демонстрация силы, ловкости, смелости. Из этого в последствии и сформировалось то, что
                    теперь стало цирковым искусством.
                    <br>
                    &nbsp;&nbsp;&nbsp;&nbsp;Первый «оседлый» цирк в Европе появился в XVIII веке (не считая
                    древнеримского, где велись
                    кровопролитные бои гладиаторов). В 1770 году англичанин Астлей построил круглое деревянное здание.
                    Цирк предназначался для конной езды, а потому имел такую форму. Жанр определил и диаметр арены — 13
                    метров. Т.к. лошадь, бегущая по кругу меньшего диаметра неизбежно падает. В то время наездники были
                    главными артистами в цирке. Чуть позже к ним присоединились акробаты и клоуны.
                    <br>
                    &nbsp;&nbsp;&nbsp;&nbsp;В России, вплоть до конца XIX века, господствовали итальянцы. Афиши пестрели
                    именами Ченизелли,
                    Феррони, Труцци. Основоположниками российского цирка стали братья Никитины. Все трое были не только
                    прекрасными артистами, но и строителями. В 1873 году они открыли в Пензе первый русский цирк. И хотя
                    сооружение было деревянным, это был большой прогресс.
                    <br>
                    &nbsp;&nbsp;&nbsp;&nbsp;В Беларуси же первое выступление профессионального цирка состоялось в
                    балагане, развернутом в
                    Троицком предместье Минска летом 1853 года. Это был австрийский цирк Карла Гинне. Сохранился текст
                    афиши того времени: «Почтеннейшую публику приглашаем на грандиозное, весьма шумное и красивое
                    зрелище мастеров всевозможных телодвижений. Среди них — смертельный трюк мадемуазель «X».
                    <br>
                    &nbsp;&nbsp;&nbsp;&nbsp;В последующие годы в Минске эпизодически выступали во временных помещениях
                    различные иностранные
                    цирковые труппы. И только 16 ноября 1884 года (согласно рапорту помощника полицмейстера в Минское
                    Губернское правление) в Минске был открыт первый в Беларуси стационарный деревянный цирк — «Цирк
                    братьев Никитиных» на 800 мест, построенный Александром Бочаровым по заказу Петра Никитина. 17
                    ноября цирк был принят в эксплуатацию Минским Губернским правлением. В архивном фонде «Минское
                    губернское правление» имеется постановление строительного правления от 2 октября 1884 г. о
                    разрешении братьям Никитиным построить деревянный цирк в Минске на Соборной площади (ныне площадь
                    Свободы) по приложенным планам. Здесь давали не только цирковые, но и театральные представления.
                    <br>
                    &nbsp;&nbsp;&nbsp;&nbsp;Однако место для таких «забав» было выбрано неудачно — по соседству с
                    храмами. Здесь здание цирка
                    простояло не долго, так как цирк возвышался над собором, что было недопустимо и вызывало
                    недовольство духовенства и прихожан. Губернатор Чаплинский решил исправить положение. Правда, сделал
                    это не сразу. В 1885-м в Минск на гастроли со своей программой приехал Сципионе Чинизелли, отец
                    которого, Гаэтано, построил в 1876 — 1877 годах в Петербурге собственный каменный цирк. (К слову, к
                    числу его завсегдатаев относился писатель Александр Куприн). Знаменитость упросила губернатора
                    Чаплинского повременить с переносом единственного в городе цирка. Уступка Чинизелли была сделана, но
                    в конце 1885 года здание с площади все же убрали. Сначала его разместили на Троицкой горе (недалеко
                    от современного театра оперы и балета, место нынешней 2-ой городской больницы), а затем — на
                    Комаровское поле.
                </p>
            </div>
        </div>
    </div>
    <div class="pt-5"></div>
</main>

<hr class="clear">

</body>

</html>
