<div th:fragment="header">
    <header class="p-2 text-white" style="background: #960f90">
        <div class="container">
            <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
                <ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0">
                    <li><a href="/" class="nav-link px-2 text-white">Главная</a></li>
                    <li><a href="/catalog/all" class="nav-link px-2 text-white">Афиша</a></li>
                    <li><a href="/about" class="nav-link px-2 text-white">О нас</a></li>
                    <li th:if="${role == 'ADMIN' || role == 'PUB'}">
                        <a href="/sessions/add" class="nav-link px-2 text-white">Добавить представление</a>
                    </li>
                    <li th:if="${role == 'USER' || role == 'PUB'}">
                        <a href="/cart" class="nav-link px-2 text-white">Мои заказы</a>
                    </li>
                    <li th:if="${role != 'NOT' && role != 'USER'}">
                        <a href="/stats" class="nav-link px-2 text-white">Финансы</a>
                    </li>
                </ul>
                <div class="text-end">
                    <a th:if="${role == 'NOT'}" href="/login" type="button" class="btn btn-outline-light me-2">Авторизация</a>
                    <a th:if="${role == 'ADMIN'}" href="/users" type="button" class="btn btn-outline-light me-2">Сотрудники</a>
                    <a th:if="${role == 'NOT'}" href="/reg" type="button" class="btn btn-outline-light">Регистрация</a>
                    <a th:if="${role != 'NOT'}" href="/logout" type="button" class="btn btn-outline-light">Выход</a>
                </div>
            </div>
        </div>
    </header>
</div>
